
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
 width: 90%;
 margin: auto;
}
.width-100{
    width: 100%;
}
a{
    text-decoration: none;
}
.section-padding{
    padding: 100px 0;
}
/* start navbar*/
.navbar{
    padding: 10px;
    align-items: center;
    position: fixed;
    background-color: #fff;
    left: 0;
    right: 0;
    top: 0;
    align-items: center;
    box-shadow: 0px 0px 14px 0px #0000001b;
    z-index: 1000;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.navbar .nav-logo a{
    color: black;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
.navbar .nav-logo a::after {
    content: ".";
    color:#CE1212;
}
.navbar ul{
    list-style: none;
  /*  display: flex;
    column-gap: 15px;*/
}
.navbar .nav-links{
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 200px;
    padding: 15px;
}
.navbar .nav-links i{
    position: absolute;
    right: 10px;
    top: 10px;
}
.navbar .nav-links li{
    margin: 20px 0;
}
.navbar .nav-icons i{
    position: absolute;
    right: 10px;
    top: 10px;
}
/*end navbar*/
/*header*/
.header{
    background-color: #EEE;
    min-height: 100vh;
    padding-top: 78px;
}
.header-content{
    text-align: center;
}
.header-content h2{
    font-family:"Amatic SC";
}
.header-content p{
    width: 80%;
    margin-block: 20px;
    line-height: 1.6;
    font-size: 18px;
    color: #4f4f5a;
}
.btn-group{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    margin-top: 40px;
}
.book-btn{
    background-color: #E61414;
    color: #fff;
    padding: 15px;
    border-radius: 20px;
}
.video-btn{
    display: flex;
    align-items: center;
    color: #37373F;
    transition: 0.5s;
}
.video-btn .icon {
    background: rgb(230,20,20);
    background: linear-gradient(90deg, rgba(230,20,20,1) 50%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-right: 5px;
}
.video-btn .icon i{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;

}
.video-btn:hover{
    color: #E61414;
}
/*end header*/
/* start our chefs*/

.main-title{
    text-align: center;
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
}
.main-title h2 {
    color: RGB(127, 127, 144);
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
}
.main-title p {
    font-size: 3.125rem;
    font-family: "Amatic SC";
}
.main-title span {
    color: RGB(206, 18, 18);
}
.our-chifs .card{
    border-radius: 10px;
    margin-bottom: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    overflow: hidden;
    transition:0.3s;
    
}
.our-chifs .card:hover .social-box{
   right: 10px;
   transition: 0.8s;
   background-color: rgba(255,255,255,0.4);
   border-radius: 8px;
}
.our-chifs .card:hover{
    transform: scale(1.08);
}
.our-chifs .card:hover .social-box a{
    text-decoration: none;
}
.our-chifs .card .card-img{
    position: relative;
}
.our-chifs .card .card-img svg{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.our-chifs .card .card-content{
    text-align: center;
}
.our-chifs .card .social-box{
    position: absolute;
    right: -110px;
    top: 10px;
    padding: 15px;
    z-index: 999;
}
.our-chifs .card .social-box li{
  list-style: none;
}
.our-chifs .card .social-box i{
  margin: 5px 0;
  color: #37373f66;
  font-size: 1.125rem;
  padding: 10px 0.3125rem;
}
.our-chifs .card .social-box i:hover{
    color: #37373F;
}
/* end our chefs*/


@media (min-width:768px){
 
    .navbar .nav-links{
        display: flex;
        position: static;
        background-color: transparent;
        padding: 0;
        font-weight: 600;
        font-size: 22px;
    }
   
    .navbar .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .navbar .nav-icons .fa-moon {
        position: absolute;
        margin-top: 20px;
        display: flex;
        align-items: center;
        font-size: 25px;
        font-weight: 900;
        color: #000;
    }
    .navbar ul{
        display: flex;
        column-gap: 10px;
    }
    .navbar .nav-links i{
        display: none;
    }
    .navbar .nav-icons i{
        display: none;
    }
    .navbar .nav-links li{
        position: relative;
    }
    .navbar .nav-links li:after{
        content: '';
        height: 3px;
        background-color: red;
        position: absolute;
        width: 0;
        left: 0;
        bottom: 0;
        transition: 0.5s;
    }
    .navbar .nav-links li:hover::after{
        width: 100%;
    }
    .navbar .nav-links li a{
        color: #c9c3c3;
    }
      /*header*/

    .header .container{
        padding: 40px 5px ;
        margin: 0 90px;
        display: flex;
        align-items: center;
    } 
    .header .header-content{
        order:-1;
        text-align: left;
    }
    .header .header-content h2{
        font-family: "Amatic SC";
        color: RGB(55, 55, 63);
        font-size: 65px;
    }
    .header .btn-group{
        justify-content: start;
    }

    .header .header-img{
        width: 50%;
    }
    .header .header-img img{
        width: 100%;
    }
       /*our chifs*/

    .our-chifs .chifs-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }
    .our-chifs .chifs-cards .card{
        width: 49%;
    }
    .main-title h2 {
        color: RGB(127, 127, 144);
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
    }

    /*gallery*/
     
     .our-gallery .main-title{
        text-align: center;
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
    }
    .our-gallery{
        background-color: #eeee;
    }
    .our-gallery .gallery-photos{
        columns: 3;
        column-gap: 20px;
    }
    .our-gallery .gallery-photos .img-wrapper{
        margin-bottom: 20px;
        border: 4px soild #fff;
        position: relative;
    }
    .our-gallery .gallery-photos .img-wrapper img{
        display: block;
    }
    .our-gallery .gallery-photos .img-wrapper .layer{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        overflow: hidden;
    }
    .our-gallery .gallery-photos .img-wrapper:hover .layer{
        top: 0;
        transition: 0.5s;
        background-color: rgba(0, 0, 0, 0.5);

    }
    .our-gallery .gallery-photos .img-wrapper .layer p {
        color: #ddd;
    }

    /*our contact*/
    .our-contact iframe{
        width: 100%;
        height: 21.875rem;
    }
    .our-contact .details{
        margin-top: 20px;
        columns: 2;
        column-gap: 20px;
    }
    .our-contact .details .detail{
        width:580px;
        display: flex;
        align-items: center;
        padding: 1.5625rem;
        background-color: #F5F5F5;
        margin-bottom: 20px;
        
    }
    .our-contact .details .icon {
        min-width: 3.125rem;
        min-height: 3.125rem;
        background-color:#CE1212;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    .our-contact .details .icon i {
        color:#fff;
        font-size: 1.125rem;
    }
    .our-contact .details h3 {
        color: #7d7d7d;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .our-contact .details .detail a{
        color:RGB(33, 37, 41);
        text-decoration: none;
    }
    .our-contact form {
        gap: 0.9375rem;
        background-color: #fff;
        padding: 1.25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 0 0 1.875rem #00000014;
        
    }
    .our-contact form .input-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 22px;;
    }
    .our-contact form {
       font-family :"Open Sans";
    }
    
    .our-contact .container  .input-group{
        width: 100%;
    }
    .our-contact .input-group input {
        width: 49%;
        display: flex;
        justify-content: space-between;

    }
    .our-contact form input, textarea {
        padding: 0.9375rem 0.9375rem;
        font-family: inherit;
        line-height: 1.5;
        border: 2px solid #E8E3E3;
    }
    .our-contact .container .sub{
        width: 100%;
    }
    .our-contact .container .sub input{
        width: 100%;
    }
    .our-contact .container textarea {
        width: 100%;
        min-height: 9.375rem;
        max-height: 18.75rem;
    }
    .our-contact form button {
       padding: 0.75rem40px;
        margin-top: 1.5625rem;
        width: fit-content;
        font-family: inherit;
    }
    .btn-main {
        background-color: #CE1212;
        color:#fff;
        font-size: 0.9375rem;
        border-radius: 100vh;
    }
    .btn {
        color: #ffff;
        border-width: 0.125rem;
        border-color: transparent;
        padding: 6px 1.125rem ;
        border-radius: 100vh;
        background-color:#CE1212;
        font-size:18px;
        cursor: pointer;
        
    }

       /*footer*/
    ul {
        list-style-type: none;
    }
    .footer {
        background-color: #212529;
        color: #fff;
        box-shadow: 0px -1px 5px #0007;
        background-size: contain;
        padding: 0px 50px;
    }
    .footer i{
        color: #fff;
    }
    .footer .container {
        padding: 40px 15px;
        
        gap: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .footer .container .about, .contact-details {
        width: 25%;
    }
    .footer .container .sunscription{
        width: 40%;
    }
    .footer .container .about,.sunscription,.contact-details{
        display: flex;
        flex-direction: column;
    }
    .footer .about img {
        width:40px;
        height:40px;
    }
    
    .logo {
        font-size: 30px;
        font-family: "Amatic SC", sans-serif;;
    }
    .logo::after {
        content: ".";
        color:#CE1212;
    }
    .footer .about h2{
        font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    }
    .footer .about .aboutlog{
        display: flex;
        gap: 10px;
    }
    .footer .about p {
        margin-block: 10px;
    }
    
    .footer .about h3 {
        text-align: center;
        padding: 10px;
        border-bottom: 2px solid #ddd6;
        margin-bottom: 10px;
    }
    .footer .about .social-links {
        padding: 10px;
        display: flex;
        justify-content: space-around;
    }
    .footer .about .social-links i {
        font-size:24px;
    }
    .footer .subscription-box p {
        margin-block: 10px;
    }
    .footer .sunscription-group {
        margin-block: 20px;
        display: flex;
        justify-content: space-between;
        gap: 5px;
    }
    .footer .sunscription-group input {
        flex-grow: 1;
        padding: 10px;
    }
    .footer .sunscription-group button {
        border-radius: 0;
        padding: 10px;
        min-width: 110px;
    }
    .footer .quick-links ul {
       /* gap: 20px;*/
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer .quick-links ul li {
        width: 50%;
        padding: 5px;
        list-style: none;
        
    }
    .footer .quick-links ul li a{
        color: #fff;
    }
    .footer .quick-links ul li:hover{
       
        transform: translatex(10px);
    }
    .btn-main {
       background-color: #CE1212;
       padding: 6px 20px;
       font-size: 15px;
       border-radius: 100vh;
    }
    .btn {
        background-color:#CE1212 ;
        color: #ffff;
        border-width: 2px;
        border-radius: 100vh;
        font-size: 16px;
        padding:6px 20px;
        cursor: pointer;
      
    }
    .footer .contact-details h3{
        margin-bottom: 10px;
    }
    .footer .contact-details ul li {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .footer .contact-details ul li i{
        color: #CE1212;
        font-weight: 900;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }
    .footer .contact-details ul li a{
        color: #fff;
    }
}

@media (min-width:991px){
    .our-chifs .chifs-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .our-chifs .chifs-cards .card{
        width: 32%;
       
    }
}

